<!doctype html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div id="app">

        <% include ../partials/header %>

        <main role="main" class="container-fluid" v-if="state.page === 'index'" v-cloak>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-xs-6 thumb" v-for="images_item in images">
                    <div class="thumbnail">
                        <a href="#" @click="editImage(images_item)">
                            <img class="img-thumbnail" :src="'/images/' + images_item.name" :alt="'/images/' + images_item.name">
                        </a>
                        <figcaption class="figure-caption mt-1 mb-2">
                            <div class="row">
                                <div class="col-6 col-md-8 col-lg-9 text-left">
                                    <span class="ml-2 text-truncate" style="display:block" :title="images_item.name">{{ images_item.name }} ({{ formatBytes(images_item.size) }})</span>
                                </div>
                                <div class="col-6 col-md-4 col-lg-3 text-right" v-if="images_item.metadata">
                                    <span class="mr-2 text-truncate" style="display:block">{{ images_item.metadata.width }}x{{ images_item.metadata.height }}</span>
                                </div>
                            </div>
                        </figcaption>
                    </div>
                </div>
            </div>
        </main>

        <main role="main" class="container-fluid" v-if="state.page === 'edit'" v-cloak>
            <div class="row">
                <div class="col-sm-4 col-lg-3">
                    <div class="list-group draggable mb-3">
                        <div class="list-group-item list-group-item-secondary drag-handle">
                            Resize
                            <template v-if="image.processing">
                                <i class="fa fa-spinner fa-spin fa-fw float-right mt-1 text-muted"></i>
                                <span class="sr-only">Loading...</span>
                            </template>
                        </div>
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-12">
                                    <button @click="resetForm()" type="button" class="btn btn-primary btn-sm float-right">Reset</button>
                                </div>
                            </div>
                            <form class="form-horizontal">
                                <fieldset>
                                    <div class="form-group row">
                                        <label class="col-md-12 control-label" for="textinput">
                                            Width:
                                            <span class="badge badge-secondary" v-if="!form.values.resize.autoHeight">
                                                {{form.values.resize.width}}px
                                            </span>
                                            <span class="badge badge-secondary" v-else>auto</span>
                                            <span>
                                                Auto
                                                <label class="switch">
                                                    <input type="checkbox" value="true" v-model="form.values.resize.autoWidth">
                                                    <span class="switch-slider"></span>
                                                </label>
                                            </span>
                                        </label>
                                        <div class="col-md-12">
                                            <input type="range" min="10" max="<%- limits.resize.width %>" value="<%- defaults.resize.width %>" class="slider" v-model="form.values.resize.width">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-12 control-label" for="textinput">
                                            Height:
                                            <span class="badge badge-secondary" v-if="!form.values.resize.autoWidth">
                                                {{form.values.resize.height}}px
                                            </span>
                                            <span class="badge badge-secondary" v-else>auto</span>
                                            <span>
                                                Auto
                                                <label class="switch">
                                                    <input type="checkbox" value="true" v-model="form.values.resize.autoHeight">
                                                    <span class="switch-slider"></span>
                                                </label>
                                            </span>
                                        </label>
                                        <div class="col-md-12">
                                            <input type="range" min="10" max="<%- limits.resize.height %>" value="<%- defaults.resize.height %>" class="slider" v-model="form.values.resize.height">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-lg-7 control-label" for="selectbasic">Fit</label>
                                        <div class="col-sm-4 col-lg-5">
                                            <select id="selectbasic" class="form-control" v-model="form.values.resize.fit">
                                                <option value="none">None</option>
                                                <option value="cover">Cover</option>
                                                <option value="contain">Contain</option>
                                                <option value="fill">Fill</option>
                                                <option value="inside">Inside</option>
                                                <option value="outside">Outside</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row" v-if="form.values.resize.fit === 'cover' || form.values.resize.fit === 'contain'">
                                        <label class="col-sm-8 col-lg-7 control-label" for="position">Position</label>
                                        <div class="col-sm-4 col-lg-5">
                                            <select id="position" class="form-control" v-model="form.values.resize.position">
                                                <option value="centre">Centre</option>
                                                <option value="entropy">Entropy</option>
                                                <option value="attention">Attention</option>
                                                <option value="top">Top</option>
                                                <option value="right top">Right top</option>
                                                <option value="right">Right</option>
                                                <option value="right bottom">Right bottom</option>
                                                <option value="bottom">Bottom</option>
                                                <option value="left bottom">Left bottom</option>
                                                <option value="left">Left</option>
                                                <option value="left top">Left top</option>
                                                <option value="north">Gravity north</option>
                                                <option value="northeast">Gravity northeast</option>
                                                <option value="east">Gravity east</option>
                                                <option value="southeast">Gravity southeast</option>
                                                <option value="south">Gravity south</option>
                                                <option value="southwest">Gravity southwest</option>
                                                <option value="west">Gravity west</option>
                                                <option value="northwest">Gravity northwest</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row" v-if="form.values.resize.fit === 'cover' || form.values.resize.fit === 'contain'">
                                        <label class="col-sm-8 col-lg-7 control-label" for="textinput">Background</label>
                                        <div class="col-sm-4 col-lg-5">
                                            <select id="position" class="form-control" v-model="form.values.resize.background">
                                                <option value="black">Black</option>
                                                <option value="white">White</option>
                                                <!-- <option value="transparent">Transparent</option> -->
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-lg-7 control-label" for="textinput">Kernel</label>
                                        <div class="col-sm-4 col-lg-5">
                                            <select id="position" class="form-control" v-model="form.values.resize.kernel">
                                                <option value="nearest">Nearest</option>
                                                <option value="cubic">Cubic</option>
                                                <option value="mitchell">Mitchell</option>
                                                <option value="lanczos2">Lanczos2</option>
                                                <option value="lanczos3">Lanczos3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-lg-7 control-label" for="textinput">Without Enlargement</label>
                                        <div class="col-sm-4 col-lg-5">
                                            <label class="switch">
                                                <input type="checkbox" value="true" v-model="form.values.resize.withoutEnlargement">
                                                <span class="switch-slider"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-lg-7 control-label" for="textinput">Fast Shrink On Load</label>
                                        <div class="col-sm-4 col-lg-5">
                                            <label class="switch">
                                                <input type="checkbox" value="true" v-model="form.values.resize.fastShrinkOnLoad">
                                                <span class="switch-slider"></span>
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div class="list-group draggable">
                        <div class="list-group-item list-group-item-secondary drag-handle">
                            JPG
                            <template v-if="image.processing">
                                <i class="fa fa-spinner fa-spin fa-fw float-right mt-1 text-muted"></i>
                                <span class="sr-only">Loading...</span>
                            </template>
                        </div>
                        <div class="list-group-item">
                            <form class="form-horizontal">
                                <fieldset>
                                    <div class="form-group row">
                                        <label class="col-md-12 control-label" for="textinput">Quality: <span class="badge badge-secondary">{{ form.values.jpg.quality }}</span></label>
                                        <div class="col-md-12">
                                            <input type="range" min="1" max="100" value="<%- defaults.jpg.quality %>" class="slider" v-model="form.values.jpg.quality">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-8 col-lg-7 control-label" for="textinput">Progressive</label>
                                        <div class="col-sm-4 col-lg-5">
                                            <label class="switch">
                                                <input type="checkbox" value="true" v-model="form.values.jpg.progressive">
                                                <span class="switch-slider"></span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-8 col-lg-7 control-label" for="textinput">Chroma Subsampling</label>
                                        <div class="col-sm-4 col-lg-5">
                                            <select id="position" class="form-control" v-model="form.values.jpg.chromaSubsampling">
                                                <option value="4:2:0">4:2:0</option>
                                                <option value="4:4:4">4:4:4</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-8 col-lg-7 control-label" for="textinput">Trellis Quantisation</label>
                                        <div class="col-sm-4 col-lg-5">
                                            <label class="switch">
                                                <input type="checkbox" value="true" v-model="form.values.jpg.trellisQuantisation">
                                                <span class="switch-slider"></span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-8 col-lg-7 control-label" for="textinput">Overshoot Deringing</label>
                                        <div class="col-sm-4 col-lg-5">
                                            <label class="switch">
                                                <input type="checkbox" value="true" v-model="form.values.jpg.overshootDeringing">
                                                <span class="switch-slider"></span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-8 col-lg-7 control-label" for="textinput">Optimize Scans</label>
                                        <div class="col-sm-4 col-lg-5">
                                            <label class="switch">
                                                <input type="checkbox" value="true" v-model="form.values.jpg.optimizeScans">
                                                <span class="switch-slider"></span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-8 col-lg-7 control-label" for="textinput">Optimize Coding</label>
                                        <div class="col-sm-4 col-lg-5">
                                            <label class="switch">
                                                <input type="checkbox" value="true" v-model="form.values.jpg.optimizeCoding">
                                                <span class="switch-slider"></span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-12 control-label" for="textinput">QuantizationTable Table: <span class="badge badge-secondary">{{ form.values.jpg.quantizationTable }}</span></label>
                                        <div class="col-md-12">
                                            <input type="range" min="0" max="8" value="<%- defaults.jpg.quantizationTable %>" class="slider" v-model="form.values.jpg.quantizationTable">
                                        </div>
                                    </div>

                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-6">
                    <ul class="nav nav-pills" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">
                                Image
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">
                                Background Cover
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">
                                Bootstrap Cards
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4" aria-selected="false">
                                Bootstrap Thumbnails
                            </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-5" role="tab" aria-controls="tab-5" aria-selected="false">
                                Devices
                            </a>
                        </li> -->
                    </ul>

                    <br>

                    <!-- <pre>{{image}}</pre> -->
                    {{ state.errors.global }}

                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show active">
                            <div class="draggable">
                                <img class="img drag-handle" :src="image.src" />
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane fade">
                            <div class="image-wrap draggable">
                                <img class="img drag-handle" :src="image.src" />
                            </div>
                        </div>
                        <div id="tab-3" class="tab-pane fade">
                            <div class="row mb-3">
                                <div class="col-3" v-for="i in 4">
                                    <div class="card draggable">
                                        <img class="card-img-top drag-handle" :src="image.src" alt="Card image">
                                        <div class="card-body">
                                            <h4 class="card-title">John Doe</h4>
                                            <p class="card-text">Some example text.</p>
                                            <a href="#" class="btn btn-primary">See Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4" v-for="i in 3">
                                    <div class="card draggable">
                                        <img class="card-img-top drag-handle" :src="image.src" alt="Card image">
                                        <div class="card-body">
                                            <h4 class="card-title">John Doe</h4>
                                            <p class="card-text">Some example text.</p>
                                            <a href="#" class="btn btn-primary">See Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6" v-for="i in 2">
                                    <div class="card draggable">
                                        <img class="card-img-top drag-handle" :src="image.src" alt="Card image">
                                        <div class="card-body">
                                            <h4 class="card-title">John Doe</h4>
                                            <p class="card-text">Some example text.</p>
                                            <a href="#" class="btn btn-primary">See Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="card draggable">
                                        <img class="card-img-top drag-handle" :src="image.src" alt="Card image">
                                        <div class="card-body">
                                            <h4 class="card-title">John Doe</h4>
                                            <p class="card-text">Some example text.</p>
                                            <a href="#" class="btn btn-primary">See Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-4" class="tab-pane fade">
                            <div class="row">
                                <div class="col-3 mb-3 thumb" v-for="i in 4">
                                    <div class="thumbnail">
                                        <img class="img-thumbnail" :src="image.src" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 mb-3 thumb" v-for="i in 3">
                                    <div class="thumbnail">
                                        <img class="img-thumbnail" :src="image.src" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 mb-3 thumb" v-for="i in 2">
                                    <div class="thumbnail">
                                        <img class="img-thumbnail" :src="image.src" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 mb-3 thumb">
                                    <div class="thumbnail">
                                        <img class="img-thumbnail" :src="image.src" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--
                        <div id="tab-5" class="tab-pane fade">
                            <div class="row">
                                <div class="col-4">
                                    <div class="laptop draggable">
                                        <div class="content drag-handle">
                                            <img :src="image.src" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="tablet draggable">
                                        <div class="content drag-handle">
                                            <img :src="image.src" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="smartphone draggable">
                                        <div class="content drag-handle">
                                            <img :src="image.src" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3">
                    <div class="list-group draggable">
                        <div class="list-group-item list-group-item-secondary drag-handle">
                            Image
                            <template v-if="image.processing">
                                <i class="fa fa-spinner fa-spin fa-fw float-right mt-1 text-muted"></i>
                                <span class="sr-only">Loading...</span>
                            </template>
                        </div>
                        <div class="list-group-item d-flex justify-content-between align-items-center">Name:&nbsp; <a :href="image.src" target="_blank" class="text-truncate">{{ image.name }}</a></div>
                        <div class="list-group-item d-flex justify-content-between align-items-center text-truncate">Last Modified:&nbsp; <span class="text-truncate">{{ image.mtime }}</span></div>
                        <div class="list-group-item d-flex justify-content-between align-items-center text-truncate">File Size:&nbsp; <span class="text-truncate">{{ formatBytes(image.size) }}</span></div>
                        <div class="list-group-item d-flex justify-content-between align-items-center text-truncate" v-if="image.metadata">Format:&nbsp; <span class="text-truncate">{{ image.metadata.format }}</span></div>
                        <div class="list-group-item d-flex justify-content-between align-items-center text-truncate" v-if="image.metadata">Progressive:&nbsp; <span class="text-truncate">{{ image.metadata.isProgressive ? 'Yes' : 'No' }}</div>
                        <div class="list-group-item d-flex justify-content-between align-items-center text-truncate" v-if="image.metadata">Dimensions:&nbsp; <span class="text-truncate">{{ image.metadata.width }}x{{ image.metadata.height }}</span></div>
                        <div class="list-group-item d-flex justify-content-between align-items-center text-truncate" v-if="image.metadata">Space:&nbsp; <span class="text-truncate">{{ image.metadata.space }}</span></div>
                        <div class="list-group-item d-flex justify-content-between align-items-center text-truncate" v-if="image.metadata">Channels:&nbsp; <span class="text-truncate">{{ image.metadata.channels }}</span></div>
                        <div class="list-group-item d-flex justify-content-between align-items-center text-truncate" v-if="image.metadata">Depth:&nbsp; <span class="text-truncate">{{ image.metadata.depth }}</span></div>
                        <div class="list-group-item d-flex justify-content-between align-items-center text-truncate" v-if="image.metadata">Chroma Subsampling:&nbsp; <span class="text-truncate">{{ image.metadata.chromaSubsampling }}</span></div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <% include ../partials/footer %>

    <script>var defaults = <%- JSON.stringify(defaults) %>;</script>
    <script src="js/app.js"></script>
</body>

</html>